setup/__pycache__/__init__.cpython-313.pyc
setup/__pycache__/settings.cpython-313.pyc
setup/__pycache__/urls.cpython-313.pyc
setup/__pycache__/wsgi.cpython-313.pyc
__pycache__/
*.py[cod]
staticfiles/
db.sqlite3
.env
