<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartySpace - Horários</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen p-5">

    <div class="bg-white border border-black rounded-xl max-w-3xl mx-auto p-8 min-h-[760px]">

        <a href="{% url 'descricao' %}" class="border border-black rounded-md px-5 py-2 text-sm hover:bg-gray-200">
            Voltar
        </a>


        <div class="max-w-md mx-auto mt-12">

            colocar img aq dps
            <div class="w-full h-56 border border-black rounded-xl flex justify-center items-center mb-8">

                <div class="bg-black w-36 h-28 rounded-lg relative">

                    <div class="bg-white w-7 h-7 rounded-full absolute right-5 top-5"></div>

                    <div class="
                        absolute bottom-5 left-5
                        border-l-[35px] border-r-[35px]
                        border-b-[55px]
                        border-l-transparent
                        border-r-transparent
                        border-b-white">
                    </div>

                    <div class="
                        absolute bottom-5 right-5
                        border-l-[25px]
                        border-r-[25px]
                        border-b-[40px]
                        border-l-transparent
                        border-r-transparent
                        border-b-white">
                    </div>

                </div>

            </div>


            <p class="text-sm mb-3">
                Escolha o dia e a duração do evento
            </p>


            <div class="border border-black rounded-xl p-6">

                <form method="POST">

                    {% csrf_token %}

                    <div class="flex gap-4 items-center mb-6 text-sm">

                        <label>Dia</label>
                        <input type="text" name="dia" class="border border-black rounded px-2 w-24 h-7">


                        <label>Duração</label>
                        <input type="text" name="duracao" class="border border-black rounded px-2 w-24 h-7">

                    </div>

                    <div class="grid grid-cols-2 gap-y-2 text-lg">

                        <button type="button" class="horario text-left text-green-600" data-hora="1:00">1:00</button>
                        <button type="button" class="horario text-left" data-hora="13:00">13:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="2:00">2:00</button>
                        <button type="button" class="horario text-left" data-hora="14:00">14:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="3:00">3:00</button>
                        <button type="button" class="horario text-left" data-hora="15:00">15:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="4:00">4:00</button>
                        <button type="button" class="horario text-left" data-hora="16:00">16:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="5:00">5:00</button>
                        <button type="button" class="horario text-left" data-hora="17:00">17:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="6:00">6:00</button>
                        <button type="button" class="horario text-left" data-hora="18:00">18:00</button>

                        <button type="button" class="horario text-left text-green-600" data-hora="7:00">7:00</button>
                        <button type="button" class="horario text-left" data-hora="19:00">19:00</button>

                        <button type="button" class="horario text-left text-red-600" data-hora="8:00">8:00</button>
                        <button type="button" class="horario text-left" data-hora="20:00">20:00</button>

                        <button type="button" class="horario text-left text-red-600" data-hora="9:00">9:00</button>
                        <button type="button" class="horario text-left" data-hora="21:00">21:00</button>

                        <button type="button" class="horario text-left text-red-600" data-hora="10:00">10:00</button>
                        <button type="button" class="horario text-left" data-hora="22:00">22:00</button>

                        <button type="button" class="horario text-left text-red-600" data-hora="11:00">11:00</button>
                        <button type="button" class="horario text-left" data-hora="23:00">23:00</button>

                        <button type="button" class="horario text-left text-red-600" data-hora="12:00">12:00</button>
                        <button type="button" class="horario text-left" data-hora="00:00">00:00</button>

                    </div>

                    <input type="hidden" id="horarios" name="horarios">
                </form>
            </div>

            <button id="alugar" class="
                border border-black
                rounded-lg
                px-20
                py-3
                mt-10
                text-sm
                hover:bg-gray-200
                block
                mx-auto">

                ALUGAR

            </button>


        </div>

    </div>

    <script>

        let horariosEscolhidos = [];

        let horarios = document.querySelectorAll(".horario");

        horarios.forEach(function (item) {

            item.addEventListener("click", function () {

                let horario = this.dataset.hora;


                if (horariosEscolhidos.includes(horario)) {

                    horariosEscolhidos = horariosEscolhidos.filter(function (h) {
                        return h != horario;
                    });

                    this.classList.remove("bg-gray-200");


                } else {

                    horariosEscolhidos.push(horario);

                    this.classList.add("bg-gray-200");

                }


                document.getElementById("horarios").value =
                    horariosEscolhidos.join(",");

            });

        });

    </script>
</body>

</html>